CS3245-hw4-check.sh
NUS IR Presentation March 2018.pdf
Notes about Court Hierarchy.txt
__pycache__/
dataset.csv
dataset.zip
dictionary-file
dictionary_file
output-file-of-results
postings-file
postings_file
postlistv2.py
queries.zip
queries/
queries_file.txt
Archive.zip
dictionary_file2
dictionary_file3
postings_file2
postings_file3
dictionary_file4
postings_file4
dictionary_file5
postings_file5
A0200662U-A0222974Y 2nd try 0.2588.zip
dictionary_file10
dictionary_file11
dictionary_file12
dictionary_file6
dictionary_file7
dictionary_file8
dictionary_file9
output-file-of-results2
postings_file10
postings_file11
postings_file12
postings_file6
postings_file7
postings_file8
postings_file9
dictionary_file13
postings_file13
logs of possible queries.txt
postings_file14
dictionary_file14
q1b.txt
q2b.txt
q3b.txt
q4.txt
