CS3245-hw4-check.sh
NUS IR Presentation March 2018.pdf
Notes about Court Hierarchy.txt
__pycache__/
dataset.csv
dataset.zip
dictionary-file
dictionary_file
output-file-of-results
postings-file
postings_file
postlistv2.py
queries.zip
queries/
queries_file.txt
Archive.zip
dictionary_file2
dictionary_file3
postings_file2
postings_file3
